.add-box2 {
  padding: 15px 10px;
  width: 50%;
  border: 2px solid #5f6368;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.canvas-popup-box {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: all 0.3s ease;
  top: 0;
  left: 0;
}
.drawbox-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #5f6368;
  width: calc(100% - 500px);
  height: calc(100% - 150px);
  z-index: 3;
  transition: all 0.2s ease;
  display: flex;
  flex-direction: column;
}
.drawbox-popup header i {
  cursor: pointer;
}
.drawbox-popup header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  /* margin: 10px 10px 0 10px; */
}
.drawbox-popup section {
  display: flex;
  width: 100%;
  flex: 1;
}
.canvas-popup-box,
.drawbox-popup {
  opacity: 0;
  pointer-events: none;
  transition: all 0s ease;
}
.tools-board {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.row-shapes,
.row-options,
.row-colors,
.row-buttons {
  padding: 10px;
}
.row-colors ul {
  display: flex;
  justify-content: space-between;
}
.row-colors .option {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-top: 3px;
  position: relative;
}
.row-colors .option:nth-child(1) {
  background-color: #000;
}
.row-colors .option:nth-child(2) {
  background-color: #e02020;
}
.row-colors .option:nth-child(3) {
  background-color: #6dd400;
}
.row-colors .option:nth-child(4) {
  background-color: #4a98f7;
}
.row-colors .option.selected::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 12px;
  width: 12px;
  background: inherit;
  border-radius: inherit;
  border: 2px solid #fff;
  transform: translate(-50%, -50%);
}
.row-colors .option:first-child.selected::before {
  border-color: #ccc;
}
.option #color-picker {
  opacity: 0;
  cursor: pointer;
}
.option:is(:hover, .active) :where(span, label) {
  color: #4a98f7;
}
.option:is(:hover, .active) :where(i) {
  color: #4a98f7;
}
.row-buttons {
  display: flex;
  justify-content: space-around;
  gap: 3px;
}
.row-buttons button {
  padding: 5px 5px;
  width: 50%;
  border: 2px solid #5f6368;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.options {
  list-style: none;
  padding: 10px;
}
.option {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.option #fill-color {
  width: 14px;
  height: 14px;
}
.option #size-slider {
  width: 100%;
  height: 4px;
  margin-top: 10px;
}
.fa-play {
  transform: rotate(30deg);
}
.canvas {
  background-color: #fff;
  width: 100%;
}
.canvas canvas {
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.data-box img {
  border-radius: 15px;
}
@media (max-width: 600px) {
  .drawbox-popup {
    width: 100%;
    height: 100%;
  }
  .drawbox-popup section {
    flex-direction: column-reverse;
    height: 100%;
  }
  .canvas {
    height: 100%;
  }
  .tools-board {
    flex-direction: column;
    width: unset;
  }
  .row-shapes,
  .row-options,
  .row-colors,
  .row-buttons {
    display: flex;
    /* align-items: stretch; */
  }
  .row-shapes {
    justify-content: center;
  }
  .row-shapes ul.options {
    justify-content: space-around;
    width: 100%;
  }
  .row-shapes label {
    display: none;
  }
  .row-shapes li.option.tool:last-child label {
    display: unset;
  }
  .row-options {
    justify-content: center;
  }
  .row-options ul.options {
    justify-content: space-around;
    width: 100%;
  }
  .row-options label {
    display: none;
  }
  .row-colors {
    justify-content: center;
  }
  .row-colors ul.options {
    justify-content: space-around;
    width: 100%;
  }
  .row-colors label {
    display: none;
  }
  div.row-shapes ul.options li.option.tool > span {
    display: none;
  }
  .options {
    display: flex;
  }
  .row-shapes,
  .row-options,
  .row-colors {
    padding: 0px;
  }
}
