.sidebar {
  width: 25%;
  padding: 20px;
}
.sidebar-top {
  display: flex;
  gap: 8px;
}
.content {
  width: calc(100% - 25%);
  padding: 20px 14px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 35px;
  align-items: flex-start;
  align-content: flex-start;
}

.add-box {
  padding: 15px 10px;
  width: 50%;
  border: 2px solid var(--border-color);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.icon {
  border: 2px dashed var(--border-color);
  border-radius: 100%;
  padding: 15px;
}
.data-box {
  width: 250px;
  height: 220px;
  border: 2px solid var(--border-color);
  border-radius: 25px;
  padding: 20px 15px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 1rem;
}
.data-box p {
  flex: 1;
  font-size: 14px;
  padding: 10px 0px 0px 0px;
  overflow: auto;
}
.data-box p::-webkit-scrollbar {
  display: none;
}
.note-box-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px 5px 5px;
  transform: translateY(8px);
}
.image-box-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px 5px 5px;
}
.settings {
  cursor: pointer;
  display: flex;
  gap: 18px;
}

.popup-box {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: all 0.3s ease;
  top: 0;
  left: 0;
}
.notebox-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--border-color);
  width: 500px;
  height: 450px;
  border-radius: 25px;
  z-index: 3;
  transition: all 0.2s ease;
}
.popup-box,
.notebox-popup {
  opacity: 0;
  pointer-events: none;
  transition: all 0s ease;
}
.notebox-popup header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  margin: 10px 10px 0 10px;
}
.notebox-popup header i {
  cursor: pointer;
}
form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0px 10px 0px 10px;
}
form .title,
.description {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
form :where(input, textarea) {
  outline: none;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  width: 100%;
  padding: 8px;
  height: 50px;
}
form :where(textarea) {
  height: 140px;
}

form button {
  height: 50px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s ease;
}
form button:hover {
  background-color: var(--border-color);
}
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
  }
  .notebox-popup {
    width: 350px;
    height: 450px;
  }
  .content {
    width: 100%;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 12px;
  }
  .data-box {
    width: 100%;
  }
  .content ::-webkit-scrollbar {
    display: none;
  }
  .data-box img {
    height: 80%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .sidebar {
    width: 50%;
  }
}
