.sidebar-bot {
  margin-top: 15px;
  /* border: 2px solid #5f6368; */
}
.todo {
  border: 2px solid #5f6368;
  border-radius: 25px;
  padding: 40px 20px;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.task-box::-webkit-scrollbar {
  display: none;
}
.task-input {
  display: flex;
  align-items: center;
  justify-content: center;
}
.task-input i {
  position: absolute;
  transform: translateX(-130px);
}
.task-input input {
  outline: none;
  border: 1px solid #5f6368;
  border-radius: 8px;
  width: 100%;
  padding: 8px 2.5rem;
  height: 50px;
}
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  /* background-color: crimson; */
}
.controls button {
  outline: none;
  border: none;
  cursor: pointer;
}
.controls button:hover {
  color: #757d86;
}
.filters {
  display: flex;
  gap: 12px;
}
.filters span {
  cursor: pointer;
  /* transition: all 0.3s ease; */
}
.active {
  color: #757d86;
  transition: all 0.3s ease;
}
.task-box {
  padding: 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  /* margin-bottom: 1px;
  margin-top: 50px; */
  overflow-y: auto;
  /* background-color: aqua; */
}
.task-box li {
  list-style: none;
  /* border: 2px solid #5f6368; */
  /* cursor: pointer; */
}
.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.task label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.task label p.checked {
  text-decoration: line-through;
  color: #757d86;
}
label input[type="checkbox"] {
  cursor: pointer;
}

.menu-todo {
  display: none;
}
.settings-todo {
  cursor: pointer;
  display: flex;
  gap: 12px;
  width: 35px;
}

.menu-todo {
  border: 1px solid #5f6368;
  list-style: none;
  padding: 8px 16px;
  width: 100px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 10;
  position: absolute;
  top: -46px;
  right: 0px;
  /* background-color: aqua; */
  transform: scale(0);
  transition: transform 0.2s ease;
  transform-origin: bottom right;
}
.menu-todo li {
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}
.settings-todo.show .menu-todo {
  transform: scale(1);
}
.drag-icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  /* border: 2px solid #5f6368; */
}
.empty {
  color: #757d86;
}
